local Library = loadstring(game:HttpGet("https://raw.githubusercontent.com/xHeptc/Kavo-UI-Library/main/source.lua"))()
local Window = Library.CreateLib("Premium key", "DarkTheme")
local Tab = Window:NewTab("Key System")
local Section = Tab:NewSection("Please Enter Your Key Below.")
local Section = Tab:NewSection("Click f9 to know the status.")


Section:NewTextBox("Your key.", "If correct key it will accept.", function(txt)
	print(txt .. ": Typed in.. Checking if correct key.")
	wait(2)
	print("Checking Servers for key.")
	wait(2)
	if txt == "LOLLMAO" then
	    print("Key = Correct.. Loading Gui..")
	    print("Hi . . . Welcome to the script..")
	    wait(2)
	    print("Loaded Gui.. Have fun.")
	    loadstring(game:HttpGet("https://pastebin.com/raw/znNTTFjk", true))()
	    else
	        print("Key = Incorrect try again later! The Wrong Key  was : " .. txt)
	    end
end)
