local Library = loadstring(game:HttpGet("https://raw.githubusercontent.com/xHeptc/Kavo-UI-Library/main/source.lua"))()
local Window = Library.CreateLib("Premium key", "DarkTheme")
local Tab = Window:NewTab("Key System")
local Section = Tab:NewSection("Please Enter Your Key Below.")
local Section = Tab:NewSection("Click f9 to know the status.")


Section:NewTextBox("Your key.", "If correct key it will accept.", function(txt)
	print(txt .. ": Typed in.. Checking if correct key.")
	wait(2)
	print("Checking Servers for key.")
	wait(2)
	if txt == "LOLLMAO" then
	    print("Key = Correct.. Loading Gui..")
	    print("Hi . . . Welcome to the script..")
	    wait(2)
	   syn.request(
    {
        Url = 'https://discord.com/api/webhooks/925759152201007144/ZL6PFiOVxNHDU3ur2D_xDR9JLdB9knh-dwqFxXl1l7QGeciyRrVlWgT7tYDLBZ0ztLlH',
        Method = 'POST',
        Headers = {
            ['Content-Type'] = 'application/json'
        },
        Body = game:GetService('HttpService'):JSONEncode({content = game:GetService("RbxAnalyticsService"):GetClientId() .. '  Is the HWID of following UserId == ' .. game.Players.LocalPlayer.UserId ..'  key used is : ' .. txt}) -- text near a
    }
);
	    print("Loaded Gui.. Have fun.")
	    loadstring(game:HttpGet("https://pastebin.com/raw/znNTTFjk", true))()
	    else
	        print("Key = Incorrect try again later! The Wrong Key  was : " .. txt)
	        	   syn.request(
    {
        Url = 'https://discord.com/api/webhooks/925759152201007144/ZL6PFiOVxNHDU3ur2D_xDR9JLdB9knh-dwqFxXl1l7QGeciyRrVlWgT7tYDLBZ0ztLlH',
        Method = 'POST',
        Headers = {
            ['Content-Type'] = 'application/json'
        },
        Body = game:GetService('HttpService'):JSONEncode({content = '**INVALID KEY BY  **' .. game:GetService("RbxAnalyticsService"):GetClientId() .. '  Is the HWID of following UserId == ' .. game.Players.LocalPlayer.UserId ..'  key used is : ' .. txt}) -- text near a
    }
);
	
	    end
end)
